body {
  background: black;
  overflow: hidden;
}

#detailed-table {
  background: #222;
  width: 230px;
    border-collapse: collapse;
    color:white;
    padding:5px;
    margin-left:5px;
    height:57%;
    overflow-y: scroll;
  }
  
  #detailed-table td, #detailed-table th {
    border: 1px solid lightgray;
    padding: 4px;
  }
  
  #detailed-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  #item {
    background: #e0e0e0;
    width: fit-content;
  }

  #top-display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #display{
    display: flex;
    flex-direction: column;
    height:100vh;
  }

  #general {  
  
    height: 50%;
  }

  #general tr {
    padding:0;
  }

  #general td {
    border-bottom: 1px solid #ffffff;
    text-align: right;
    color: #15607a;
    background: #ddebec;
  }

  .view {
    border-top: 1px solid #ffffff00;
    font-size: 250%;
  }

  #top-dock {
    display: flex;
  }

  .dock-element {
    margin: 6px;
    background: #222;
    text-align: center;
    min-width: 181px;
    padding: 5px;
  }

  .text {
    font-size: 40px;
  }

  .dock-title {
    color:white
  }

  #update-date {
    width: 230px;
    color: white;
    font-size:20px;
    margin-top: 13px;
  }

  .list-items {
    border-bottom: 1px solid #5c5c5c;
    font-size: 17px;
  }

  #detailed-col {
    display: flex;
    justify-content: center;
  }

  #graph {
    background: #222;
    padding-left: 12px;
    height: 58%;
  }